body {
  margin-top: 110px; }

.navbar {
  box-shadow: 2px 2px 5px black;
  opacity: 0.9;
  background: white; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background-image: url("../img/scenic-view-of-mountains-against-sky-326235 (4).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(42, 79, 122, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card {
  height: 500px;
  margin-top: 50px; }
#authors .card:hover {
  background: #2a4f7a;
  color: white; }
  #authors .card:hover .fab {
    color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
